[submodule "modules/forge-std"]
	path = modules/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "modules/openzeppelin-contracts"]
	path = modules/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "modules/chainlink"]
	path = modules/chainlink
	url = https://github.com/smartcontractkit/chainlink.git
[submodule "modules/nstbl-loan-manager"]
	path = modules/nstbl-loan-manager
	url = https://github.com/harry1121-s/nstbl-loan-manager.git
[submodule "modules/nstbl-token"]
	path = modules/nstbl-token
	url = https://github.com/harry1121-s/nstbl-token.git
[submodule "modules/nstbl-acl-manager"]
	path = modules/nstbl-acl-manager
	url = https://github.com/harry1121-s/nstbl-acl-manager.git
